.mainHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  padding: 10px;
}

.nameHeader {
  display: flex;
  align-items: center;
}

.headerCircle {
  width: 30px;
  height: 30px;
  background-color: salmon;
  border: 0.5px solid black;
}

h1 {
  margin: 0;
}

h4 {
  margin: 0;
  padding-top: 5px;
}

p {
  margin: 0;
  padding-left: 10px;
  padding-top: 12px;
}

.menuList {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.menuList li {
  margin-right: 10px;
}
