.project {
    display: flex;
    margin-bottom: 40px;
  }
  
  .project-content {
    flex-basis: 60%;
  }
  
  .project-title {
    margin-bottom: 10px;
  }
  
  .project-title h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .project-des p {
    margin: 0;
  }
  
  .project-image {
    flex-basis: 40%;
    text-align: right;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
  }
  
  