.project {
    display: flex;
    margin-bottom: 40px;
  }
  
  .projectContent {
    flex-basis: 60%;
  }
  
  .projectTitle {
    margin-bottom: 10px;
  }
  
  .projectTitle h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .projectDes p {
    margin: 0;
  }
  
  .projectImage {
    flex-basis: 40%;
    text-align: right;
  }
  
  .projectImage img {
    width: 100%;
    height: auto;
  }
  
  