.projectsContainer {
    margin: 50px auto;
    max-width: 800px;
  }
  
  .projectsHeader {
    text-align: left;
    margin-bottom: 50px;
  }
  
  .projectsHeader h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .projectsMain {
    display: flex;
    flex-direction: column;
  }