main {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.main-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img img {
  width: 450px;
  height: 450px;
  border: 1px solid black;
  border-radius: 50%;
}

.main-introduce {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.intro-container {
  text-align: left;
  margin-bottom: 20px;
}

.intro-container h1 {
  font-size: 100px;
  margin: 0;
}

.intro-container h4,
.intro-container p {
  margin: 0;
}

.intro-menu-container {
  display: flex;
}

.intro-menu-container button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s; /* 요구사항 1: 그라데이션 효과를 위한 transition 추가 */
  cursor: pointer; /* 요구사항 2: 마우스 커서를 포인터로 변경 */
}
.intro-menu-container a {
  text-decoration: none;
}
.intro-menu-container button:hover {
  background: linear-gradient(45deg, #f5f5f5, #ebebeb);
}

.intro-menu1 {
  background-color: #ff6699;
}

.intro-menu2 {
  background-color: #66ccff;
}

.intro-menu3 {
  background-color: #99ff99;
}
