.contact-container {
  display: flex;
  padding: 0 70px 0 70px;
  justify-content: space-between;
  margin: 100px 0 100px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.contact-main {
  margin-bottom: 10px;
}

.contact-sub {
  width: 100%;
  height: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.contact-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/*  */
.contact-form {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 100%;
}

.form-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between; /* 수정: 왼쪽과 오른쪽 요소 사이의 간격을 최대로 벌립니다 */
}

.form-contents {
  width: 48%; /* 수정: 왼쪽 form-contents 너비를 48%로 설정하여 공간을 활용합니다 */
  flex: 0 0 48%;
  margin-bottom: 10px;
}

.form-contents:last-child {
  width: 100%; /* 수정: 마지막 form-contents 요소의 너비를 100%로 설정하여 남은 공간을 차지합니다 */
}

.form-btn {
  width: 48%; /* 수정: 오른쪽 form-btn 너비를 48%로 설정하여 공간을 활용합니다 */
  flex: 0 0 48%;
  padding-top: 20px;
  margin-left: 10px;
}

.form-msg {
  margin-top: 20px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button[type="submit"] {
  width: 100%;
  height: 38px;
  background-color: salmon;
  border: 1px solid black;
  color: white;
}
