.footerContainer {
  background: none;
  left: 0;
  bottom: 0;
  margin-left: 38px;
  padding-bottom: 70px;
  width: 95%;
}

.itemList {
  display: flex;
  justify-content: space-between;
}

.items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.iconContainer {
  display: flex;
}

.iconContainer a {
  margin-right: 10px;
}
