.content {
  margin-bottom: 40px; /* 요구사항 2: content 사이에 margin 조정 */
  display: flex;
}

.title {
  margin-bottom: 10px;
  flex-basis: 50%;
}

.title h2 {
  font-size: 28px; /* 요구사항 3: 글씨 크기 키우기 */
  margin: 0;
}

.contents-main {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between; /* 요구사항: title과 contents-main 사이 간격 벌리기 */
}

.years {
  width: 100px;
  margin-right: 20px;
}

.contents {
  flex: 1;
}

.contents-title {
  margin-bottom: 10px;
}

.contents-title h4 {
  font-size: 20px; /* 요구사항 3: 글씨 크기 키우기 */
  margin: 0;
}

.contents-text {
  margin-bottom: 10px;
}

.contents-text p {
  margin: 0;
}
