.contactSection {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.formFieldContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputFields {
  width: 48%;
  height: 100%;
}

.textAreaFields {
  width: 48%;
  height: 100%;
}

.submitBtn {
  margin-top: 24px;
  width: 100%;
}

.contactBtn {
  width: 100%;
  height: 38px;
  border-radius: 0;
  background-color: gray;
  border: 1px solid black;
  color: #ccc;
  cursor: not-allowed;
  transition: all 0.3s ease;
}

.activeBtn {
  background-color: salmon !important;
  color: black !important;
  cursor: pointer !important;
}
