.contact {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
  }
  
  .contactMain {
    margin-bottom: 10px;
  }

  .contactMain h1 {
    font-size: 40px;
  }
  
  .contactSub {
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .contactItem {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }