.contents {
  /* width: 48%; */
  margin-bottom: 10px;
}

.contents textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 195px;
  resize: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row div {
  display: flex;
}

.reset {
  border: 1px solid black;
  justify-self: center;
  text-align: center;
  margin-left: 3px;
  padding-top: 2px;
  padding-left: 13px;
  font-size: 16px;
  background: orange;
  width: 3.5rem;
  height: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.reset:hover {
  background: linear-gradient(45deg, #f5f5f5, #ebebeb);
}
