.page-transition-enter {
  opacity: 0;
  transform: translateY(30%);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(-100%);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
